body
{
  margin-top: 120px;
  overflow: auto;
}

.navig
{

}

#read_all
{
	color: #000000;
}

#read_all:hover
{
	text-decoration: underline;
}

#drop-menu
{
	background-color: #444;
}

#registerIcon
{
	margin-top: 8px;
}

#post_h1_title
{
	color: #FFFFFF;
}

#adminLink:hover
{
	color: white;
}

.date_writen_post
{
  margin-left: 15px;
}

.author_com
{

}

.content_com
{
  margin-left: 15px;
}

.date_writen_com
{
  text-align: right;
  margin-left: 15px;
  font-size: 0.9em;
}

#my_picture
{
	padding-top: 15px;
}

/*a
{
	color: white;
}*/

/*td
{
  padding: 3px;
}

table, td, th
{
	color: white;
	border: 1px solid black;
}

table, th
{
	margin:auto;
	text-align: center;
	border-collapse: collapse;
}

table, th
{
	border: 3px solid black;
}

td
{
  padding: 3px;
}*/

@media (max-width: 767px) {
  #registerIconBar
  {
  	height: 40px;
    margin : 0px;
    padding: 10px 15px 10px 15px;
  }

  #registerIcon
  {
  	margin: 0px;
  }
}
