body
{
  margin-top: 30px;
}

.navig
{

}

#read_all
{
	color: #000000;
}

#read_all:hover
{
	text-decoration: underline;
}

#drop-menu
{
	background-color: #444;
}

#registerIcon
{
	margin-top: 8px;
}

#post_h1_title
{
	color: #18BC9C;
}

#adminLink:hover
{
	color: white;
}

.date_writen_post
{
  margin-left: 15px;
}

.hr_separator
{
   padding:2px;
   background:#18BC9C;
   border:0;
}

.content_com
{
  margin-left: 15px;
}

.date_writen_com
{
  text-align: right;
  margin-left: 15px;
  font-size: 0.9em;
}

#my_picture
{
	padding-top: 15px;
}

/*div a.close:active
{
  display: none;
}*/

@media (max-width: 768px) {
  #registerIconBar
  {
  	height: 40px;
    margin : 0px;
    padding: 10px 15px 10px 15px;
  }

  #registerIcon
  {
  	margin: 0px;
  }
}

  @media (max-width: 425px) {
  .smallScreen {
    display: none;
  }
}
